<div>
    <!-- <div *ngIf="loadCountBlock"> -->
    <div class="mb-3">
        <span>Количество элементов: {{tickets?.length}}</span>
        <span *ngIf="blockDirective" class="mx-3">Активный элемент: index {{blockDirective.activeElementIndex }}</span>
    </div>
    <div>
        <input class="mb-3" pInputText type="text" #ticketSearch [(ngModel)]="ticketSearchValue">
    </div>

    <div #tourWrap #blockDirective="blockStyle"
         *ngIf="tickets"
         appBlockStyle 
         [selector]="'.ticket-item'"
         [initFirst]="false"
         (renderComplete)="directiveRenderComplete($event)"
         class="d-flex flex-wrap justify-content-around">
    
        <div class="ticket-item col-3 m-2" 
             *ngFor="let item of tickets; let i = index;"
             (click)="goToTicketInfoPage(item)"> 
            <div class="ticket-title">{{item.name}}</div>
            <div class="ticket-img">
                <img class="w-100" src="http://localhost:3000/public/{{item.img}}" alt="/">
            </div>
        </div>
    </div>
</div>
